.gather-header {
    position: relative;
    background-color: white;
    border-bottom: 1px solid;
}

.gather-header-nav {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

.gather-header-div1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px 56px;
    height: 100%;
    flex-grow: 1;
}

.gather-logo {
    min-width: 80px;
    max-height: 80px;
}

.gather-header-small-div {
    min-height: 80px;
    width: 20%;
    background-color: blue;
}

.gather-header-big-div {
    min-height: 80px;
    align-items: center;
    width: 60%;
    background-color: white;
}


.padding0 {
    padding: 0%;
}
